*{
    box-sizing: border-box;
}
body{
   
    width:100vw
}
section.container-fluid{
    line-height:1.6em !important;
    padding:3rem 1.25rem !important;
    font-size:1rem
    
}
.row{
    padding:0 1.25rem
}
.banner-section{
    background:#F2F2F2;
    margin-top: 60px;
    
}
.ts-logo{
    
    height:auto
}
.location{
    padding-right: 1.5rem;
    border-right:0.5px solid grey
}
.job-num,.location-deep{
    padding-left: 1.5rem;
}
.about-ts{
    font-size:1.1rem
}
.about-job{
    padding:1.8rem 1rem 0 1rem
}
/* .about-job ul{
    padding:0
} */
.about-job li{
    padding:0.3rem 0
}
.show-less,.show-more,.view-more-jobs{
    color:#004dff;
    padding-bottom: 0.5rem;
}

.show-less a::after,.show-more a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #004dff;
    transition: width .5s;
}

.show-less a:hover::after,.show-more a:hover::after {
    width: 100%;
   
}
.main-sec hr{
    border-bottom:3px solid rgb(97, 97, 97)
}

.qualifications .accordion{
    margin-top:3rem;
    margin-bottom:1rem
}
.acc-head{
    padding:1rem;
    border-top:1px solid #ccc;
    font-weight:600
}
.acc-body{
    box-shadow: inset 0 0.74rem 1.24rem -0.37rem rgb(0 0 0 / 15%);
    border-top: 0.06em solid #ccc;
    background-color: #f2f2f2 !important;
    padding:1rem
}
.socials{
    padding:1rem;
    background:#f2f2f2;
    font-weight:600;
    margin-top:2rem;
    margin-bottom: 2rem;
}
.related-jobs-card{
    margin-top:1rem;
    margin-right:1rem;
    padding:1rem;
    border:1px solid #ccc;
    border-left:0.25rem solid #ff00d6
}
.view-more-jobs{
    margin-top:1rem;
}
.brag-sec{
    background: #F2F2F2;
}
.brag-card{
    background: white;
    margin-top:3rem;
    padding:1rem
}
.life-at-1,.learn-more-1{
    background: #f2f2f2;
    padding:1rem;
    margin-top: 1rem;
    margin-right:1rem;
    width:48%
}
.learn-more{
    background: #f2f2f2
}
@media (max-width:767px){
    .qualifications .apply-now{
        width:100%
    }
    .life-at-1{
        width:100%
    }
}
@media (max-width:991px){
    .banner-section .register,.banner-section .share{
        padding-top:1.5rem
    }
    .banner-section .apply-now{
    width:100%
}
}
@media (min-width:1024px){
    .banner-section{
        margin-top:70px
    }
}